html,
body {
  margin: 0;
  height: 100%;
  overscroll-behavior: none;
  touch-action: none;
}

p,
button,
h1,
h2,
h3,
input {
  border: none;
  margin: 0;
  padding: 0;
}


button:focus {
  outline: none;
}

.body {
  display: flex;
  flex-direction: column;
  user-select: none;
  -webkit-user-select: none;
  /* 사파리 대응 */
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}


/* 이젠 웹 기본 스타일 */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

p {
  color: #191919;
}

* {
  flex-shrink: 0;
}


/* UI */
#container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #EBF1FA;
  overflow: hidden;
}

#layer-area {
  width: 100%;
  height: 100%;

  background-color: white;
  image-rendering: pixelated;
  border: none;
}

.layer {
  position: relative;
  height: 100%;
  width: 100%;
}

canvas {
  image-rendering: pixelated;
  position: absolute;
}

#canvas {
  /* top:300px; */
  /* background-color: green;  */
  z-index: 1;
}

#draw-canvas {
  /* background-color: blue; */
  z-index: 2;
}




#zoom-area {
  /* background: rgba(0, 0, 0, 0.1); */
  border: 2px dashed rgba(255,255,255,0.5);
  position: absolute;
  z-index: 3000;
  box-sizing: border-box;
  touch-action: none;
  pointer-events: none;
  mix-blend-mode: difference;
}

#selection-area {
  border: 2px dashed rgba(255,255,255,0.5);
  position: absolute;
  z-index: 2900;
  box-sizing: border-box;
  /* 보더를 포함한 크기 계산 */
  cursor: move;
  mix-blend-mode: difference;

}

.handle {
  width: 44px;
  height: 44px;
  z-index: 2901;
  position: absolute;
  /* background: rgba(255, 0, 0,0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.handleGrab {
  width: 16px;
  height: 16px;
  background: rgb(255, 255, 255);
  border: 2px solid gray;
  box-sizing: border-box;
  border-radius: 1000px;
  touch-action: none;
}

#handle-lt {
  cursor: nwse-resize;
}

#handle-t {
  cursor: ns-resize;
}

#handle-rt {
  cursor: nesw-resize;
}

#handle-r {
  cursor: ew-resize;
}

#handle-rb {
  cursor: nwse-resize;
}

#handle-b {
  cursor: ns-resize;
}

#handle-lb {
  cursor: nesw-resize;
}

#handle-l {
  cursor: ew-resize;
}

#brush-cursor {
  background: transparent;
  border: 1px solid black;
  outline: 1px solid white;
  border-radius: 10000px;
  position: absolute;
  z-index: 3000;
  pointer-events: none;
  mix-blend-mode: difference;
}


#container.grab {
  cursor: grab;
}

#container.grabbing {
  cursor: grabbing;
}

#container.brush {
  cursor: crosshair;
}

#container.zoom {
  cursor: zoom-in;
}

#container.select {
  cursor: crosshair;
}

#container.largeBrush {
  cursor: pointer;
}



/* grab 상태일 때 */
#container.grab #selection-area,
#container.grab .handle {
  cursor: grab !important;
}

/* grabbing 상태일 때 */
#container.grabbing #selection-area,
#container.grabbing .handle {
  cursor: grabbing !important;
}

/* zoom 상태일 때 */
#container.zoom #selection-area,
#container.zoom .handle {
  cursor: zoom-in !important;
}