html,
body {
  margin: 0;
  height: 100%;
  overscroll-behavior: none;
  overscroll-behavior-x: none;
  /* touch-action: none; */
  -webkit-user-select: none !important;
  /* 텍스트 선택·루페 모두 차단 */
  user-select: none !important;
  -webkit-touch-callout: none !important;
  /* 롱프레스 컨텍스트 메뉴 차단 */
  /* 텍스트 선택 방지 */
  -webkit-tap-highlight-color: transparent;
  /* 터치시 생기는 회색 배경 제거 */
  touch-action: manipulation;
  /* 제스처 최소화 */
}

p,
button,
h1,
h2,
h3,
input {
  border: none;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

.body {
  display: flex;
  flex-direction: column;
  user-select: none;
  -webkit-user-select: none;
  /* 사파리 대응 */
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}

/* 이젠 웹 기본 스타일 */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

p,
input,
h1,
h2,
h3 {
  color: #191919;
}

* {
  flex-shrink: 0;
}

/* UI */
#container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  touch-action: none;
}

#layer-area {
  width: 100%;
  height: 100%;
  background: #e8e8e8;
  image-rendering: pixelated;
  border: none;
  touch-action: none;
}

canvas {
  image-rendering: pixelated;
  position: absolute;
  touch-action: none;
}

#canvas {
  /* top:300px; */
  /* background-color: green;  */
  z-index: 1;
  transform-origin: top left;
}

#draw-canvas {
  /* background-color: blue; */
  z-index: 2;
}

#zoom-area {
  background: rgba(13, 153, 255, 0.125);
  border: 1px solid rgba(13, 153, 255, 1);
  position: absolute;
  z-index: 3000;
  box-sizing: border-box;
  touch-action: none;
  pointer-events: none;
}

/* 선택창 ui */

#selection-area,
#resize-area {
  border: 1px dashed rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 2900;
  box-sizing: border-box;
  /* 보더를 포함한 크기 계산 */
  mix-blend-mode: difference;
}

.handle {
  z-index: 2901;
  position: absolute;
  width: 7px;
  height: 7px;
  background: rgb(255, 255, 255);
  border: 1px solid #404040;
  box-sizing: border-box;
  /* border-radius: 1000px; */
  touch-action: none;
}

#handle-rt {
  transform: translate(-1px, 0);
}

#handle-rb {
  transform: translate(-1px, -1px);
}

#handle-lb {
  transform: translate(0, -1px);
}

.resize-handle {
  --resize-handle-size: 7px;
  --resize-handle-width: 3px;
  z-index: 2902;
  width: calc(var(--resize-handle-size) + var(--resize-handle-width) - 1px);
  height: calc(var(--resize-handle-size) + var(--resize-handle-width) - 1px);
  background: transparent;
  border: none;
}

.resize-handle::before,
.resize-handle::after {
  content: "";
  position: absolute;
  background: #000;
}

.resize-handle::before {
  width: 100%;
  height: var(--resize-handle-width);
}

.resize-handle::after {
  width: var(--resize-handle-width);
  height: 100%;
}

#resize-handle-lt::before,
#resize-handle-rt::before {
  top: 0;
}

#resize-handle-lb::before,
#resize-handle-rb::before {
  bottom: 0;
}

#resize-handle-lt::after,
#resize-handle-lb::after {
  left: 0;
}

#resize-handle-rt::after,
#resize-handle-rb::after {
  right: 0;
}

#selection-size,
#resize-size {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2900;
}

#selection-text,
#resize-text {
  background: rgba(200, 200, 200, 0.5);
  margin-top: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* Safari용 */
}

#brush-cursor {
  background: transparent;
  border: 1px solid black;
  outline: 1px solid white;
  border-radius: 10000px;
  position: absolute;
  z-index: 3000;
  pointer-events: none;
  mix-blend-mode: difference;
}

#container.grab {
  cursor: grab;
}

#container.grabbing {
  cursor: grabbing;
}

#container.brush {
  cursor: crosshair;
}

#container.zoom {
  cursor: zoom-in;
}

#container.select {
  cursor: crosshair;
}

#container.colorPicker {
  cursor: crosshair;
}

#container.largeBrush {
  cursor: crosshair;
}

#container.noCursor {
  cursor: none;
}

#container.nwse-resize {
  cursor: nwse-resize;
}

#container.nesw-resize {
  cursor: nesw-resize;
}

#container.ns-resize {
  cursor: ns-resize;
}

#container.ew-resize {
  cursor: ew-resize;
}

#container.move {
  cursor: move;
}

#cursor-position {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: start;
  bottom: 0px;
  left: 0px;
  padding-bottom: 6px;
  padding-left: 8px;
  z-index: 4000;
}

#cursor-icon {
  height: 16px;
}

#cursor-position > p {
  padding-left: 4px;
  font-size: 12px;
  color: rgb(19, 19, 19);
}

#loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  visibility: hidden;
}
