#header {
  z-index: 100000;
  height: 44px;
  width: 100%;
  background: #F5F5F5;
  position: absolute;
  top: 0px;
  left: 0px;

}

#menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  z-index: 100000;
  height: 88px;
  width: 100%;
  background: #FFFFFF;
  position: absolute;
  top: 44px;
  left: 0px;
  padding-left: 8px;
  gap: 8px;
  border-bottom: 1px #E2E2E2 solid;
}

#header-space {
  height: 132px;
  width: 100%;
}

.select-button {
  width: 60px;
  height: 80px;
  background: transparent;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 5px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.select-button>p {
  font-size: 12px;
}

.mini-buttons {
  display: flex;
  flex-direction: column;

}

.select-mini {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background: #F5F5F5;
  /* border: 1px #E2E2E2 solid; */
}

.div-bar {
  height: 60px;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.brush-control-group {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4px;
}

.brush-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 34px;
}

.brush-control>p {
  font-size: 12px;
}

.brush-control>.label {
  width: 48px;
}

.brush-control>.value {
  width: 40px;
}


.slider {
  -webkit-appearance: none;
  height: 6px;
  background: transparent;
  /* 트랙 배경색 */
  border-radius: 3px;
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  border-radius: 100px;
  height: 6px;
}

/* 슬라이더의 썸 (버튼) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #ff7575;
  /* 썸 색상 */
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
  /* 썸 정렬 */
}

#size-slider::-webkit-slider-runnable-track {
  background: #191919;
}

#size-slider::-webkit-slider-thumb {
  background: #191919;
  /* 썸 색상 */
}

#opacity-slider::-webkit-slider-runnable-track {
  background: #E3E3E3;
}

#opacity-slider::-webkit-slider-thumb {
  background: #ffffff;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
}

.slider-area{
  padding-left: 12px;
  padding-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}