.tools-button {
  height: 44px;
  width: 50px;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  display: flex;
  flex-direction: center;
  align-items: center;
}

.tools-button>p {
  width: 100%;
  line-height: 19px;
}

.tools-bar {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  background: rgb(0, 0, 0, 0.06);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.mobile-appbar {
  height: 44px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background: white;
}

#navigation {
  position: absolute;
  z-index: 100000;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.mobile-navigation {
  height: 44px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background: white;
}

.mobile-color-icon {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background: #FAFAFA;
  border: 1px solid #E3E3E3;
}


.mobile-appbar .selected,
.mobile-navigation .selected {
  background: transparent;
  color: #3587FF;
}


.mobile-appbar .selected>svg>path,
.mobile-navigation .selected>svg>path {
  fill: #3587FF;
}